# Ignore virtual environments
.venv/
venv/
env/
env-typ-predict/
uv.lock
.env

# Cache and runtime files
.ruff_cache/
.run/
pytest_cache/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# IPython and Jupyter Notebook files
*.ipynb_checkpoints
*.ipynb

# Swap files
**/*.swp

# Logs
*.log

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

# MyPy cache
.mypy_cache/

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test reports
TEST*.xml

# Distribution / packaging
.Python
pip-log.txt
pip-delete-this-directory.txt
*.whl
*.deb
*.rpm
*.tar.gz
*.zip

# Sphinx documentation
docs/_build/

# Node artifact files
node_modules/
dist/

# Java class files
*.class

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/

# Visual Studio Code
.vscode/
.vscode/*

# PyCharm
*.idea/
*.idea/*
*.iml
*.iws
*.ipr

# Jupyter Notebook hidden directories
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Applications
*.app
*.exe
*.war

# Media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.mkv
*.mp3
*.wav

# Temporary files
*.tmp
*.temp
*.bak
*.backup

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Custom excludes
credential.json